name: " GitHub Actions Bot "
on:
    push:
        branches: ['main']
    schedule:
    - cron: "0 */12 * * *"
    workflow_dispatch:

jobs:
  cronJob:
    name: "Update data"
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v4
        with:
            node-version: 20.x
      - run: npm ci
      - run: git pull
      - run: node 1_gs2.js
      - run: node 3_extract_doi.js
      - run: node 2_totsv.js
      - run: |
            git config user.name  "ahmedhossain09"
            git config user.email "88017722+actions-user@users.noreply.github.com"
            git add -f 'scholar-data-U9tD0ywAAAAJ.json'
            git add -f 'publications-U9tD0ywAAAAJ.tsv'
            git commit -m " Auto commit by Gihub Actions Bot "
            git push --force
